.CarCollectionText
{
    text-decoration: underline;
    font-size: 30px;
    font-weight: 700;
    margin: 10px;
    margin-bottom: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.CarCollectionCards
{
    display: flex;
    margin: 10px;
    gap: 10px;
    justify-content: space-between;
}